* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #f55a5a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > img {
  margin: 16px 7px;
}

.header > p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -1px;
}
